body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    width: 100%;
}

main {

    background-color: #35a035;
    height: 100vh;
    padding: 20px;


}

.fullsec {
    /* background: linear-gradient(to top, blue, skyblue); */
    display: flex;
    border-radius: 20px;
    height: 90vh;

}

/* Styling the left side */

/* .leftside {
    display: flex;
    justify-content: center;
    width: 50%;
    margin: auto auto;
}

.leftside img {
    border-radius: 20px;
} */




/* Styling of the right side */

.rightside {
    display: flex;
    justify-content: center;
    width: 50%;
}


.form {
    background-color: #fff;
    box-shadow: 10px 10px 5px 12px #060655;
    border-radius: 10vh;
    width: 100%;
    text-align: center;
}

/* The styling of the texts on my login form */
.formtext h1 {
    color: #4d4ddd;
    font-size: 3rem;
}

.formtext p {
    color: #000;
    font-size: 1.5rem;

}

form,
input {
    width: 100%;
}

input {
    background-color: #a2d8ad;
    border: none;
    border-radius: 10px;
    text-align: center;
    padding: 20px;


}

.forgottenpassword {
    float: right;
    text-decoration: none;
}

.login {
    margin-top: 5vh;
    padding: 18px;
    width: 80%;
    border: none;
    border-radius: 10px;
}


/* STYLING FOR RESPONSIVENESS */

/* For medium screens (tablets) */
@media (min-width: 768px) and (max-width: 1023px) {}

/* For small screens (mobile devices) */
@media (max-width: 767px) {
    .leftside {
        display: none;
    }

    .login {
        margin-top: 10vh;
    }

    .formtext h1 {
        color: #4d4ddd;
        font-size: 2rem;
    }

}